<div class="row">
  <div class="poko" ng-controller="GeneralCtrl">
    <a class="large-3 columns" id="logo">Reader</a>

    <!-- Notifications -->
    <a href="#" data-dropdown="drop1" class="dropdown large-3 columns">Notification</a>
      <ul id="drop1" class="f-dropdown">
        <li ng-repeat="notification in notifications">
          <a href="#">{{notification}}</a>
        </li> 
    </ul>

    <!-- Message -->
    <a href="#" data-dropdown="drop1" class="dropdown large-3 columns">Messages</a>
    <ul id="drop1" class="f-dropdown">
    <li ng-repeat="notification in notifications">
    <div class="row">
        <img class="small-6 columns" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTXjCDGYctG2oryk7hEZlN1fzSKwA6baujsPg81oPeEuzVicjCY"/>
        <a  class="small-2 columns" href="#">{{notification}}</a>
    </div>
    </li> 
    </ul>

    </div>

</div>


<!--Login-->
<div class="row">
<div class="small-5 columns">

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

    <% if user_signed_in? %>  
      Signed in as <%= current_user.username %>. Not you?  
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>  
      <%= link_to 'Edit profile', edit_user_registration_path %>
    <% else %>  
      <%= link_to "Sign up", new_user_registration_path %> or  
      <%= link_to "Sign in", new_user_session_path %>  
      <li><%= link_to "Twitter", user_omniauth_authorize_path(:twitter) %></li>
     </li> 
    <% end %>  
</div>
</div>
<!-- End Login -->

<div class="row"> -</div>

<div ng-controller="SubsCtrl">

<!-- Search --> 
  <div class="row">
    <form>
    <div class="small-4 columns">
        <div class="row collapse">
          <div class="small-8 columns">
            <input type="text" ng-model="urlToAdd" name="text" />
          </div>

          <div class="small-4 columns end">
            <a href="#" class="columns button postfix" ng-click="submit()">Action</a>
          </div>
          </div>
        </div>
    </form>
  </div>


<div class="row">
  <div class="small-3 columns">
    <ul class="side-nav">
      <li ng-repeat="sub in subs">
        <a ng-click="loadData(sub.id)">{{sub.title}}</a>
      </li>
    </ul>
  </div>


  <div class="small-9 columns">
    <div ng-repeat="entr in subitems">
      <span data-ng-class="getClass(entr)" ng-click="setArticleRead(entr)">
        {{entr.title}}  
      </span>
      
     <div ng-show="entr.hidden == true" ng-animate="'fade'">         
      <span class="panel callout radius preview-text">  {{entr.preview}}  </span> 
    </div>


    </div>
  </div>

    <img ng-show="showMe" src="http://www.devcomponents.com/dotnetbar/img/CircularProgressAnimation.gif">
</div>



<div id="myModal" class="reveal-modal" data-reveal>
 <!-- Users -->

<div class="usersArea" ng-controller="UsersCtrl">
  <div ng-repeat="user in users">
    
    <a class="th [radius]" href="#">
      <img src="/assets/{{user.pic}}">
    </a>
  </div>
</div>



  <a class="close-reveal-modal">&#215;</a>
</div>
<a href="#" data-reveal-id="myModal">Click Me For A Modal</a>






  



 </div>

