  
<div class="row">
  <div class="poko" ng-controller="MessagesCtrl">
    <a class="large-3 columns" id="logo">Reader</a>

    <!-- Notifications -->
<!--     <a href="#" data-dropdown="drop1" class="dropdown large-3 columns">Notification</a>
      <ul id="drop1" class="f-dropdown">
        <li ng-repeat="notification in notifications">
          <a href="#">{{notification}}</a>
        </li> 
    </ul> -->

    <!-- Message -->
    <a href="#" data-dropdown="drop1" data-options="large" ng-click="getMessages()" class="dropdown large-3 columns">Messages</a>
    <ul id="drop1" class="f-dropdown" data-dropdown-content>
    <li ng-repeat="message in messages">
    <div class="row">
        <img class="small-6 columns" src="/assets/{{message.sender.pic}}"/>
        <span data-ng-class="getMessageClass(message)">{{message.message_text}} - {{message.not_read}}</span>
    </div>
    <a ng-click="destroyMessage({{message.id}})")>&#215;</a>
    <a> </a>
    </li> 
    </ul>

    </div>

    <a href="#" data-reveal-id="users_modal">Activity</a>
    <a href="#" data-reveal-id="users_modal">Feeds</a>
    <a href="#" data-reveal-id="users_modal">Users</a>


</div>

<i class="foundicon-cloud"></i>
<i class="foundicon-heart"></i>


<!--Login-->
<div class="row">
<div class="small-5 columns">

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

    <% if user_signed_in? %>  
      Signed in as <%= current_user.username %>. Not you?  
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>  
      <%= link_to 'Edit profile', edit_user_registration_path %>
    <% else %>  
      <%= link_to "Sign up", new_user_registration_path %> or  
      <%= link_to "Sign in", new_user_session_path %>  
      <li><%= link_to "Twitter", user_omniauth_authorize_path(:twitter) %></li>
     </li> 
    <% end %>  
</div>
</div>
<!-- End Login -->

<div class="row"> -</div>

<div ng-controller="SubsCtrl">

<!-- Search --> 
  <div class="row">
    <form>
    <div class="small-4 columns">
        <div class="row collapse">
          <div class="small-8 columns">
            <input type="text" ng-model="urlToAdd" name="text" />
          </div>

          <div class="small-4 columns end">
            <a href="#" class="columns button postfix" ng-click="submit()">Add</a>
          </div>
          </div>
        </div>
    </form>
  </div>


<div class="row">
  <div class="large-3 columns">
    <ul class="side-nav">
      <li ng-repeat="sub in subs">
        <a ng-click="loadData(sub.id)">{{sub.title}}</a>
      </li>
    </ul>
  </div>


  <div class="large-9 columns">
    <div ng-repeat="entr in subitems">
      <span data-ng-class="getClass(entr)" ng-click="setArticleRead(entr)">
        {{entr.title}}  
      </span>
      
     <div ng-show="entr.hidden == true" ng-animate="'fade'">         
      <span class="panel radius preview-text">  {{entr.preview}}  </span> 
    </div>


    </div>
  </div>

    <img ng-show="showMe" src="http://www.devcomponents.com/dotnetbar/img/CircularProgressAnimation.gif">
</div>

<div class="usersArea" ng-controller="UsersCtrl">

<div id="users_modal" class="reveal-modal" data-reveal>
 <!-- Users -->

  <ul class="large-block-grid-4">
    <li ng-repeat="user in users">
      <a class="th [radius]" href="#" >
        <img data-dropdown="hover1" data-options="align:left" src="/assets/{{user.pic}}" ng-click="setSelectedUser(user)" >
      </a>
      <p class="user-title">{{user.username}}</p>
      <ul id="hover1" class="f-dropdown" data-dropdown-content>
          <li><a ng-click="openModel()" data-reveal-id="messages_modal">Send message</a></li>
          <li><a href="#" ng-click="addFriend()">Add Friend</a></li>
      </ul> 
    </li>
  </ul>

  <a class="close-reveal-modal">&#215;</a>

</div>


<!-- Messages -->

<div id="messages_modal" class="reveal-modal" data-reveal>
  <p>Send a message to {{selectedUser.username}}</p>
  <div class="large-12 columns">
     <a class="th [radius]" href="#" >
        <img data-dropdown="hover1" data-options="align:left" src="/assets/{{selectedUser.pic}}">
      </a> 
        <textarea id="textArea" ng-model="messageText" placeholder="Enter your text..."></textarea>
      </p>
    <a href="#" ng-click="closeForm()" class="button [tiny small large]">Send</a>
  </div>

  <a class="close-reveal-modal">&#215;</a>

</div>

    
  </div>






